{% block html_head_container %}

	{% include 'header.twig' %}

	{% block head %}
	{% endblock %}

{% endblock %}

<body class="{{ body_class }}">
<a class="visually-hidden" href="#content">{{ _e( 'Skip to content') }}</a>

<header>
	{% block header %}
		{% include 'partial/navbar.twig' %}
	{% endblock %}
</header>

<main>
	<div class="container">
		<nav class="pt-4 pb-2" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
			{% if (fn('smarz_breadcrumbs')) %}
				{{ fn('smarz_breadcrumbs') }}
			{% endif %}
		</nav>
	</div>

	{% if title %}
		<div class="container">
			<h2 class="display-5 pb-3">{{ title }}</h2>
			<hr class="pt-0 mt-0 mb-4"/>
		</div>
	{% endif %}

	<div class="container" id="content">
		{% block content %}
			Sorry, no content
		{% endblock %}
	</div>

</main>

{% block footer %}
	<footer class="border-top bg-dark pt-5 mt-5 pb-5 text-white">
		{% include 'footer.twig' %}
	</footer>
	{{ fn('wp_footer') }}
{% endblock %}

</body>
</html>
