{% extends "base.twig" %}

{% block content %}

    <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <section class="page-content">

            <div class="row">
                <div class="col-md-12">
                    <h2 class="display-5 pb-3">{{ post.title }}</h2>
                    <hr class="pt-0 mt-0 mb-4"/>
                </div>
                <div class="col-md-12">
                    {{ post.content }}
                </div>

                <div class="row row-cols-1 row-cols-md-3 g-4">
					{% if items.Pagina %}
						{% for item in items.Pagina %}
							{% for card in item %}

								<div class="col">
									<div class="card h-100">
										<img alt="{{ card.Titolo }}" src="{{ card.Immagine }}"/>
										<div class="card-body">
											<h5 class="card-title">{{ card.Titolo }}</h5>
											<p class="card-text">{{ card.Descrizione }}</p>
											<p class="card-text">Prezzo: {{ card.Prezzo }}</p>
											<a href="{{ card.Link }}" target="_blank">Compra su eBay</a>
										</div>
										<div class="card-footer">
											<small class="text-muted">{{ card.Stato }}</small>
										</div>
									</div>
								</div>

							{% endfor %}
						{% endfor %}
					{% endif %}
                </div>

            </div>

        </section>
    </article>

{% endblock %}
